{{ partial "head" . }}

<ul id="menu">
  <li id="info"><img class="icon" src="/img/i-info.png"></img></li>
  <li><img class="icon" src="/img/i-volume.png"></img></li>
  <hr>
  {{ range (where .Site.Pages "Type" "sketches") }}
    {{ range .Pages.Reverse }}
      <li id="{{.Title}}">
        <img class="icon" src="/img/i-{{.Title}}.png"></img>
      </li>
    {{ end }}
  {{ end }}
  </ul>
  <ul id="canvashold">
    {{ range first 5 (where .Site.Pages "Type" "sketch") }}
      <li class="canvased" id="{{.Title}}canvas">
      </li>
      <!--
      {{ if .Params.js }}
        <script src="{{ .Params.js }}"></script>
      {{ end }}
      -->
    {{ end }}
  </ul>

  <div class="causedejour" class="casenon">
    {{ range (where .Site.Pages "Type" "causes") }}
      {{ range .Pages.Reverse }}
        <div class="cause-item">
          <div class="compareheight">
          </div>
          <div class="cause-content">
            <p> {{ .Title }} </p>
            <p> {{ .Content }}</p>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>

{{ partial "footer" . }}
